<h4>Open Tables</h4>

<h6><%= link_to "Add a new table", new_party_path %></h6>
<h6><%= link_to "All Tables", all_tables_path %></h6>

<% @parties.each do |party| %>

    <div class="table not_paid"><%= link_to( party.table_num, party_orders_path(party.id) ) %></div>

<% end %>
