<h4>OPEN TABLES</h4>
<h6><%= link_to "ALL TABLES", all_tables_path %> | <%= link_to "NEW TABLE", new_party_path %></h6>

<% @parties.each do |party| %>

    <div class="table not_paid"><%= link_to( party.table_num, party_orders_path(party.id) ) %></div>

<% end %>
