<h1>Orders</h1>

<h6><%= link_to "ADD ORDER", new_party_order_path(@party) %></h6>

<% @orders.each do |order| %>


<p><%= link_to( order.id, party_order_path(id:order.id, party_id: @party.id) ) %>
<p>Item ID: <%= order.item_id %> </p>
<p>Notes: <%= order.notes %> </p>



<% end %>
