<h4>KITCHEN LIST</h4>

<% @orders.each do |order| %>

<div class="kitchen-order"><%= order.item.name %></div>
<% if order.notes != "" %>
  <div class="kitchen-notes"><%= order.notes %></div>
<% end %>
<p>Table: <%= order.party.table_num %></p>

<h6><%= button_to "Complete Order", is_complete_path(order), method: :put %></h6>
<% end %>
