/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('foodbackground.jpg');
  background-size: cover;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.paid {
  margin: 3em;
  display: inline-flex;
  margin: auto;
  color: white;
  font-size: 4.5em;
  background-color: red;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
}

.not_paid {
  margin: 3em;
  display: inline-flex;
  margin: auto;
  color: white;
  font-size: 4.5em;
  background-color: green;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
}

.container {
  width: 30%;
  height: 80%;
  background-color: white;
}
